{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">

        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">

                <p>
DMシステム（以下「当社」）は、本サービスの提供において、ユーザーの個人情報を適切に取り扱います。本プライバシーポリシーは、本サービスの利用において収集・利用される個人情報の取り扱いについて定めるものです。
<br>1. 収集する個人情報の範囲
<br>本サービスの利用において、以下の情報を収集する場合があります。
<br>ユーザー登録時
<br>&nbsp;&nbsp;&nbsp;&nbsp; •	氏名（または会社名）
<br>&nbsp;&nbsp;&nbsp;&nbsp; •	メールアドレス
<br>&nbsp;&nbsp;&nbsp;&nbsp; •	電話番号
<br>&nbsp;&nbsp;&nbsp;&nbsp; •	住所（請求先情報など）
<br>&nbsp;&nbsp;&nbsp;&nbsp; •	その他、サービス利用に必要な情報
サービスの利用時
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	アクセスログ（IPアドレス、ブラウザ情報、端末情報）
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	利用履歴（見積書・契約書・インボイスの作成記録）
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	クッキー（Cookie）や類似技術による利用状況の分析
<br>2. 個人情報の利用目的
収集した個人情報は、以下の目的で利用します。
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	本サービスの提供・運営
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	ユーザー認証・アカウント管理
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	請求・決済処理
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	お問い合わせ・サポート対応
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	サービスの改善・新機能開発
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	法令に基づく対応
<br>3. 個人情報の第三者提供
<br>当社は、以下の場合を除き、ユーザーの個人情報を第三者に提供しません。
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	ユーザーの同意がある場合
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	法令に基づく要請がある場合
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	業務委託先（クラウドサービス・決済代行など）への必要な範囲での提供
<br>4. 個人情報の管理・保護
<br>当社は、個人情報の漏洩・紛失・不正アクセスを防止するため、適切なセキュリティ対策を実施します。
<br>5. ユーザーの権利
<br>ユーザーは、自身の個人情報について、以下の権利を有します。
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	開示・訂正・削除を請求する権利
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	利用停止・第三者提供停止を求める権利
<br>※必要な手続きについては、お問い合わせ窓口までご連絡ください。
<br>6. Cookie（クッキー）の利用
<br>本サービスでは、利用状況の分析や利便性向上のため、Cookieを使用する場合があります。ブラウザ設定で無効化できますが、一部機能が制限される可能性があります。
7<br>. プライバシーポリシーの変更
<br>当社は、必要に応じて本ポリシーを改訂することがあります。変更時は当社ウェブサイト上で通知します。
<br>8. お問い合わせ先
<br>個人情報の取り扱いに関するご質問・ご要望は、以下までご連絡ください。
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	運営：DMシステム
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	メールアドレス：support@dm.fujiba.jp
<br>&nbsp;&nbsp;&nbsp;&nbsp;•	電話番号：090-3546-6572

                </p>
            </div>
        </div>
    </div>
{% endblock %}
